#barcode {
  display: flex;

  position: absolute;
  top: 2.8rem;
  right: 0;
  z-index: 100;
  margin: 0.6rem;
  width: fit-content;

  transition: transform 0.2s ease-in-out;
  &[aria-hidden="true"] {
    transform: translateX(calc(100% + 1.2rem));
  }

  min-width: 30rem;
  min-height: 30rem;

  > div {
    flex: 1;
  }

  .tabs-content {
    > div:not(.barcode-wrapper) {
      flex: 1;
      padding: 1rem 1rem 0 1rem;
    }
  }

  .barcode-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    position: relative;
    padding: 0;
  }

  .persistence-pairs-table {
    :has(> table) {
      max-height: 50vh;
      overflow-y: auto;
    }

    table {
      border-collapse: collapse;

      tr {
        border-bottom: 1px solid #aaa;
      }
      tr:has(th) {
        border-color: #333;
        border-width: 2px;
        position: sticky;
        top: 0;
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
        background: white;
      }
      tr:not(:has(th)):hover {
        background: #4aa2ff33;
      }

      td,
      th {
        min-width: 44px;
        text-align: end;
        padding: 1px 0.8rem;
        font-variant-numeric: tabular-nums;
      }
    }

    .sort-icon {
      font-weight: 400;
      cursor: pointer;
      margin-right: 0.2rem;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
      transition: opacity 0.2s ease-in-out;
    }
  }
}
